* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: white;
}

body {
  background-color: #111;
}

img {
  height: 40vh;
  width: 30vh;
  object-fit: contain;
 
}

.logo {
  display: inline;
  width: 30vw;
  font-size: 4vh;
  margin-left: 3vw;
  margin-top: 4vh;
  font-weight: 800;
  font-size: 8vh;
}

.logo span {
  font-size: 42px;
  color: #ffac2f;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Raleway, sans-serif;
}

.images {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-bottom: 4vh;
  margin-top: 4vh;
}
figure{
  transition: transform 400ms;
}
figure:hover{
  transform: scale(1.2);
}

figcaption {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 400ms;
 text-align: center;
}
figcaption:hover{
  color: navy;
}

h3 {
  color: #ffac2f;
  font-size: 1.2rem !important;
}

h3,
article {
  margin: 2vh 10vw 2vh 10vw;
  font-size: 1rem;
}


footer {
  margin-top: 10vh;
  min-height: 30vh;
  width: 100vw;
  background-color: #51515182;
}
.social-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto;
  gap: 2rem;
 
}
.social-icons a{
  transition: transform 400ms;
}
.social-icons a:hover{
  transform: scale(1.5);
}
.links{
  display: flex;
  flex-direction: row;
 margin: 1rem auto;
 justify-content: space-evenly;
}
.links a{
  transition: transform 400ms;
}

.links a:hover{
transform: scale(1.2);

}
.copy{
  display: flex;
  justify-content: center;
}
.balls div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #ffac2f;
  transform: translateY(-100%);
  animation: wave 0.8s ease-in-out alternate infinite;
  position: absolute;
  top: 5%;
  left: 20%;
}


@keyframes wave {
  from {
      transform: translateY(-100%);
  }

  to {
      transform: translateY(100%);
  }
}

@media screen and (max-width: 850px) {
  .images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 10vw;
  }

  figcaption {
    text-align: left;
  }
  
}